@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ul,li{list-style:none; margin:0; padding:0;}
a img{border:0;display: block;}
html, body {height: auto; }
em,i{font-style: normal;}
a:hover *,*:hover{-webkit-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
  -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
/*颜色字体设置-start-*/
a{color:#000;text-decoration:none;cursor: pointer;}
a:hover{color:#fd7a01;}
p{color:#000;line-height:24px;}
body{background-color:white;overflow-x:hidden;font-size:14px;
  font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;}
/*颜色字体设置-end-*/
/******base*******/
.bk10,.bk20,.bk30,.bk40,.bk50,.bk60,.bk70,.bk80,.bk90,.bk100{width:100%;overflow: hidden;clear: both;display: block;}
.bk10{height:10px;}
.bk20{height:20px;}
.bk30{height:30px;}
.bk40{height:40px;}
.bk50{height:50px;}
.bk60{height:60px;}
.bk70{height:70px;}
.bk80{height:80px;}
.bk90{height:90px;}
.bk100{height:100px;}

.mL10 {margin-left: 10px;}
.mR10 {margin-right: 10px;}
.mT10{margin-top: 10px; }
.mB10{margin-bottom: 10px;}
.m10{margin: 10px;}
.pT10{padding-top: 10px; }
.pB10{padding-bottom: 10px; }
.pL10{padding-left:10px;}
.pR10{padding-right:10px;}
.p10{ padding: 10px;}
/******other*******/
.fl{float:left;display: inline-block;}
.fr{float:right;display: inline-block;}
/******clear float*******/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {display: inline-table;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/*通用*/
.w1280{width: 1280px;margin: 0 auto;height: auto;}
.w1160{width: 1160px;margin: 0 auto;height: auto;}
/*page*/
.pageJump {text-align: left;padding:20px 0 30px;line-height: 20px;width: 100%;overflow: hidden;}
.pageJump .number {margin: auto auto auto 40%;width: auto;display: block;float: none;height: auto;}
.pageJump .number .disabled {background: #999;padding:5px 10px;}
.pageJump .number .disabled a{color: #fff;}
.pageJump .number .disabled:hover{background:#fd7a01; }
/*返回*/
.backpre {text-align:center;margin:30px 0 0;}
.backpre a{height:24px;background: #999;line-height:24px;
  padding:10px 20px;color: #fff;
  display: inline-block;text-align: center;}
.backpre a:hover{background:#fd7a01;color:#fff;}
/*header*/
.header{width: 100%;height: 80px;background: #fff;position: fixed;top:0;left: 0;z-index: 99999;}
.header .logo{width: 180px;height: 80px;background: url(/images/logo.png) left center no-repeat;display: inline-block;}
.header .call{display: inline-block;height: 80px;line-height: 80px;font-size: 26px;color: #fd7a01;
  background: url(/images/call_btn.png) left center no-repeat;padding: 0 0 0 50px;}
/*nav*/
.nav_box{width: 630px;height:80px;margin: 0 20px 0 0;}
.nav{height:80px;position:relative;z-index:1;width: 100%;}
.nav a{ color:#000; text-align:center;}
.nav .nLi{ float:left;  position:relative; display:inline;}
.nav .nLi h3{ float:left;}
.nav .nLi h3 a{ display:block;font-size:16px;width: 90px;height: 78px;line-height: 78px;border-top: 2px solid #fff;}
.nav .sub{ display:none; width:100%; left:0; top:80px;  position:absolute; background:#000; line-height:40px; font-size: 14px; }
.nav .sub li{ zoom:1; }
.nav .sub a{ display:block;color: #fff;}
.nav .sub a:hover{ background:#fd7a01;}
.nav .on h3 a,.nav h3 a:hover{border-top: 2px solid #fd7a01;}
/*banner*/
.slideBox{ width:100%; height:850px; overflow:hidden; position:relative;}
.slideBox .hd{font-size:0;display:none;overflow:hidden;height:0;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd li a{display: block;width: 100%;height:850px;position: relative;}
.slideBox .prev,.slideBox .next{ position:absolute;top:50%; margin-top:-43px; display:block; width:86px; height:86px;
  filter:alpha(opacity=60);-ms-opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-o-opacity:0.6;opacity: 0.6;}
.slideBox .prev{left:10%;background: url(/images/bn_pre.png) no-repeat; }
.slideBox .next{right:10%;background: url(/images/bn_next.png) no-repeat; }
.slideBox .prev:hover,.slideBox .next:hover{filter:alpha(opacity=100);-ms-opacity:1;-moz-opacity:1-webkit-opacity:1-o-opacity:1;opacity: 1;}
.slideBox .prevStop{ display:none;}
.slideBox .nextStop{ display:none;}
/**/
.txt_yc{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
/*huis_stu_on*/
.huis_stu_on{margin: 0 0 0 -25px;}
.huis_stu_on li{width: 370px;float: left;display: inline-block;margin: 0 0 0 20px;}
.huis_stu_on li .pic,.huis_stu_on li .pic img{width: 100%;height: 230px;display: block;}
.huis_stu_on li .txt{width: 100%;line-height: 50px;text-align: center;font-size: 22px;}
/*ho_tit_all*/
.ho_tit_all{text-align: center;}
.ho_tit_all a{display: inline-block;}
.ho_tit_all h2{font-size: 46px;font-weight: bold;color: #fd7a01;padding: 0 0 10px;}
.ho_tit_all p{font-size: 26px;}

.huis_ys_on{margin: 0 0 0 -20px;}
.huis_ys_on li{width: 235px;height: 400px;background: #fff1e5;text-align: center;padding: 30px 20px 0;float: left;margin: 0 0 0 20px;}
.huis_ys_on li .icon,.huis_ys_on li .icon img{width: 140px;height: 140px;display: block;margin: 0 auto;}
.huis_ys_on li .bt{line-height: 60px;font-size: 26px;padding: 0 0 10px;}
.huis_ys_on li .dis{line-height: 30px;font-size: 16px;height: 180px;padding: 0 0 20px;overflow: hidden;}
.huis_ys_on li .btn{width: 100%;height: 50px;line-height: 50px;text-align: center;color: #fff;background:#fd7a01;display: block; font-size: 16px;
  -ms-border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;-o-border-radius: 10px; border-radius: 10px;
  display: none;}
.huis_ys_on li .btn:hover{background: #e36f02;}
.huis_ys_on li.li_1{color: #fe8067;}
.huis_ys_on li.li_2{color: #feab1f;}
.huis_ys_on li.li_3{color: #3fcad1;}
.huis_ys_on li.li_4{color: #31c8a7;}
/**/
.ho_add_1{width: 100%;height: 200px;display: block;}
.huis_wt_on .wt_top{margin: 0 0 0 -20px;}
.huis_wt_on .wt_top  li{width: 370px;float: left;display: inline-block;margin: 0 0 0 20px;}
.huis_wt_on .num{width: 50px;height: 50px;background: #999;text-align: center;font-size: 36px;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;
  display: inline-block;color: #fff;line-height: 50px;margin: 0 10px 0 0;}
.huis_wt_on .bt{font-size: 24px;line-height: 50px;color: #666;}
.huis_wt_on .dis{margin: 20px 0 30px 60px;}
.huis_wt_on .dis p{font-size: 22px;color: #999;}
.huis_wt_on .pic{border: 4px dashed #999;padding: 6px;overflow: hidden;margin: 0 auto;}
.huis_wt_on .pic,.huis_wt_on .pic img{width: 220px;height: 220px;display: block;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;}
.huis_wt_on .pic img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);}
.huis_wt_on .wt_bt{text-align: center;}
.huis_wt_on .wt_bt span{height: 80px;display: inline-block;margin: 0 auto;background: #fd7a01;color: #fff;text-align: center;
  font-size: 46px;line-height: 80px;padding: 0 60px;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;}
.huis_wt_on .wt_pic img{display: block;width: 100%;}
/*huis_cls_on*/
.huis_cls_on{width: 100%;height: auto;background: url(/images/huis_bg_1.png) center top no-repeat;}
.ho_tit_2 h2{color: #fff;}
.ho_tit_2 p{color: #fff;}
.huis_cls_on .list{margin: 0 0 0 -20px;}
.huis_cls_on .list li{float: left;display: inline-block;margin: 0 0 0 20px;width: 275px;height: 480px;text-align: center;}
.huis_cls_on .list li .pic,.huis_cls_on .list li .pic img{width: 275px;height: 260px;display: block;}
.huis_cls_on .list li .bt{font-size: 26px;text-align: center;padding: 40px 0;}
.huis_cls_on .list li a{width: 200px;height: 40px;display: inline-block;font-size: 20px;
  -ms-border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;-o-border-radius: 10px; border-radius: 10px;
  margin: 0 auto;line-height: 40px;text-align: center;color: #fff;}
.huis_cls_on .list li.li_1{background: #e6fffb;}
.huis_cls_on .list li.li_1 a{background: #1fd2b5;}

.huis_cls_on .list li.li_2{background: #ffefef;}
.huis_cls_on .list li.li_2 a{background: #d6000f;}

.huis_cls_on .list li.li_3{background: #ecf0fc;}
.huis_cls_on .list li.li_3 a{background: #4169e1;}

.huis_cls_on .list li.li_4{background: #fffde8;}
.huis_cls_on .list li.li_4 a{background: #fd7a01;}
.huis_cls_on .list li a:hover{filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;}
/*huis_kb_on*/
.huis_kb_on{width: 100%;height: auto;background: url(/images/huis_bg_2.png) center top no-repeat; }
.huis_kb_on .btns{text-align: center;}
.huis_kb_on .btns a{width: 208px;height: 48px;border: 1px solid #fd7a01;color: #fd7a01;font-size: 26px;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;
  text-align: center;line-height: 48px;display: inline-block;margin:  0 20px;}
.huis_kb_on .btns a:hover{background: #fd7a01;color: #fff;}

.picScroll-left{ width:100%;  overflow:hidden; position:relative; height: 360px;background: #fff; }
.picScroll-left .hd{ overflow:hidden;  height:80px;position: absolute;top:50%;width: 100%;z-index: 999999999999999;display: none;margin: -40px 0 0;}
.picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:30px; height:80px;overflow:hidden;position: absolute;}
.picScroll-left .hd .prev{ background: url(/images/cp_pre.png) 0 0 no-repeat;left: 0;}
.picScroll-left .hd .next{ background: url(/images/cp_next.png) -30px 0 no-repeat;right: 0;}
.picScroll-left .hd ul{font-size:0;display:none;overflow:hidden;height:0;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{  float:left; _display:inline; overflow:hidden; text-align:center;width: 289px;  border-right: 1px solid #fff;}
.picScroll-left .bd ul li .bt{background:#fd7a01;color: #fff;line-height: 70px; font-size: 26px;color: #000;}
.picScroll-left .bd ul li .txt{padding: 40px 10px 0;}
.picScroll-left .bd ul li .txt p{font-size: 16px;line-height: 30px;}
.picScroll-left:hover .hd{display: block;}
/*huis_tea_on*/
.huis_tea_on .top{text-align: center;}
.huis_tea_on .top li{width: 280px;display: inline-block;margin: 0 20px;}
.huis_tea_on .top li .icon,.huis_tea_on .top li .icon img{width: 60px;height: 60px;display: inline-block;}
.huis_tea_on .top li .txt{width: 220px;line-height: 30px;color: #666;font-size: 18px;}

.picScroll-left-js{ width:710px;  overflow:hidden; position:relative; margin: 0 auto; }
.picScroll-left-js .hd{ overflow:hidden;  height:12px;width: 100%; margin: 30px 0 0;}
.picScroll-left-js .hd ul{ overflow:hidden; zoom:1; width: 100%;height: 12px;text-align: center;}
.picScroll-left-js .hd ul li{width:12px; height:12px; overflow:hidden;background: #ffad80;font-size: 0;display: inline-block;margin: 0 5px;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%; }
.picScroll-left-js .hd ul li.on{background: #fd7a01;}
.picScroll-left-js .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left-js .bd ul li{ _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left-js .bd ul li .txt{width: 710px;height: 110px;padding: 0 0 28px;line-height: 110px;text-align: center;font-size: 18px;color: #666;
  background: url(/images/jsgy.png) center no-repeat;}
.picScroll-left-js .bd ul li .pic{width: 250px;height: 250px;padding: 5px;overflow: hidden;margin: 0 auto;
  box-shadow:0px 0px 2px 2px #ebebeb;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;}
.picScroll-left-js .bd ul li .pic img{width: 250px;height: 250px;display: block;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;}
.picScroll-left-js .bd ul li h2{font-size: 28px;color: #fd7a01;line-height: 40px;padding: 20px 0 0;}
.picScroll-left-js .bd ul li p{font-size: 18px;color: #666;}
/**/
.huis_hj_on{width: 100%;height: auto;background: url(/images/huis_bg_3.png) center top no-repeat; }
.huis_hj_on .btns{text-align: center;}
.huis_hj_on .btns a{width: 208px;height: 48px;font-size: 26px;
  background: #fd7a01;color: #fff;border: 1px solid #fd7a01;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;
  text-align: center;line-height: 48px;display: inline-block;margin:  0 20px;}
.huis_hj_on .btns a:hover{color: #fd7a01;background: transparent;}
.huis_hj_on .box_all a{display: block;}
.huis_hj_on .box_all a.p1,.huis_hj_on .box_all a.p1 img{width: 250px;height: 170px;display: block;}
.huis_hj_on .box_all a.p2,.huis_hj_on .box_all a.p2 img{width: 250px;height: 310px;display: block;}
.huis_hj_on .box_all a.p3,.huis_hj_on .box_all a.p3 img{width: 440px;height: 310px;display: block;}
.huis_hj_on .box_all a.p4,.huis_hj_on .box_all a.p4 img{width: 220px;height: 150px;display: block;}
.huis_hj_on .box_all a.p5,.huis_hj_on .box_all a.p5 img{width: 220px;height: 310px;display: block;}
.huis_hj_on .box_all a.p6,.huis_hj_on .box_all a.p6 img{width: 120px;height: 80px;display: block;}
.w250{width:250px; }
.w900{width:900px; }
.w220{width:220px; }
.w120{width:120px; }
/*huis_zhaos_on*/
.huis_zhaos_on{width: 100%;height: auto;background: url(/images/huis_bg_4.png) center top no-repeat; }
.huis_zhaos_on .p1{text-align:center;font-size: 26px;color: #000;font-weight: bold;}
.huis_zhaos_on .p2{text-align: center;margin: 30px 0 0;}
.huis_zhaos_on .p2 span{width: 130px;height: 130px;display: inline-block;font-size: 106px;
  margin: 0 5px;text-align: center;line-height: 130px;color: #fff;background: #fd7a01;}
.huis_zhaos_on .p2 span.num{background: transparent;color:#fd7a01; }
.huis_zhaos_on .btns{text-align: center;}
.huis_zhaos_on .btns a{width: 250px;height: 50px;display: inline-block;font-size: 26px;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;
  text-align: center;background: #fd7a01;color: #fff;line-height: 50px;}
.huis_zhaos_on .btns a span{background: url(/images/baom.png) center left no-repeat;padding: 0 0 0 40px;}
.huis_zhaos_on .btns a:hover{background: #e36f02;}
/*footer*/
.footer .mid img{margin: 40px auto;display: block;}
.footer .fot_lg{width: 180px;height: 90px;background: url(/images/logo.png) left center no-repeat;display: inline-block;}
.footer .call{width: 289px;border-right: 1px solid #ccc;height: 90px;text-align: center;}
.footer .call h2{font-size: 26px;color: #fd7a01;padding: 20px 0 0;}
.footer .call p{color: #999;}
.footer .zixun{width: 329px;height: 90px;border-right: 1px solid #ccc;text-align: center;padding: 0 50px 0 0;}
.footer .zixun .p1,.footer .zixun .p1 img{width: 90px;height: 90px;display: block;}
.footer .zixun .p2{width: 239px;}
.footer .zixun .p2 p{font-size: 16px;line-height: 30px;}
.footer .ewm{width: 310px;height: 90px;}
.footer .ewm .p1{width: 90px;height: 90px;display: block;}
.footer .ewm .p2{width: 220px;text-align: center;padding: 15px 0 0;}
.footer .ewm .p2 p{font-size: 16px;line-height: 30px;}
.footer .bot{background: #262d3d;text-align: center;padding: 20px 0;}
.footer .bot p{color: #fff;font-size: 16px;}
.footer .bot p a{color: #fff;}
.footer .bot p a:hover{text-decoration: underline;}
/*float_fix*/
.float_fix{width: 130px;height: 482px;position: fixed;right: 10px;top:50%;margin: -241px 0 0;z-index: 999999999999999999;}
.float_fix .top{width: 110px;height: 380px;padding: 74px 10px 0;
  background: url(/images/float_bg.png) center top no-repeat;}
.float_fix .top a{width: 100%;height: 50px;line-height: 50px;margin: 0 0 2px;
  text-align: center;display: block;color: #fff;font-size: 16px;}
.float_fix .top a.a1{border-top: 10px solid #4c86e9;background: #5f99fc;}
.float_fix .top a.a2{border-top: 10px solid #945ae2;background: #a766fe;}
.float_fix .top a.a3{border-top: 10px solid #ff900f;background: #ffa913;}
.float_fix .top a.a4{border-top: 10px solid #89b824;background: #96c335;}
.float_fix .top a.a5{border-top: 10px solid #e22424;background: #fe3636;}
.float_fix .top .call{text-align: center;padding: 10px 0 0;}
.float_fix .top .call p{color: #00f6ff;text-align: center;font-size: 16px;}
.float_fix .bot{width: 100%;height: 28px;background: url(/images/gotop.png) no-repeat;display: block;}
/**/
.bread{text-align: center;padding: 0 0 30px;border-top: 1px solid #eee;}
.bread h2{font-size: 12px;color: #bfc2c4;text-transform: uppercase;padding: 0 0 5px;}
.bread .p1{color: #000;font-size: 24px;padding: 0 0 5px;}
.bread .p2{width: 30px;height: 2px;font-size: 0;line-height: 2px;background:#fd7a01;margin: 0 auto; }
/*sublist*/
.sublist{text-align: center;padding: 0 0 30px;}
.sublist li{display: inline-block;}
.sublist li a{width: 140px;height: 36px;line-height:36px;text-align: center;color: #666;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;
  display: block;border: 2px solid #ccc;margin: 0 5px 10px;}
.sublist li:hover a,.sublist li.on a{color:#fd7a01;border: 2px solid #fd7a01;}
/**/
.txt_demo_1 img{max-width: 100%;}
/**/
.class_list{margin: 0 0 0 -25px;}
.class_list li{width: 330px;float: left;height: 200px;
  display: inline-block;background: #f5f5f5;margin: 0 0 25px 25px;padding: 40px 20px 0;text-align: center;}
.class_list li .p1{color: #666;}
.class_list li .p2{color: #333;font-size: 22px;line-height:40px;padding: 0 0 10px;}
.class_list li .p3{width: 100%;height: 24px;background: #fd7a01;color: #fff;text-align: center;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;}
.class_list li .btns{width: 120px;height: 40px;line-height: 40px;color: #fd7a01;border: 2px solid #fd7a01;
  text-align: center;display: block;margin:20px auto 0;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;}
.class_list li a{display: block;}
.class_list li:hover{background: #fff;}
.class_list li:hover .btns{background:#fd7a01;color: #fff; }

.txt_demo_2 img{max-width: 100%;}
.txt_demo_2 .bt{border: 1px solid #ccc;line-height: 100px;text-align: center;font-size: 32px;}
.txt_demo_2 .dis{padding: 30px 0 0;}

.txt_demo_3 img{max-width: 100%;}
.txt_demo_3 .bt{border: 1px solid #ccc;text-align: center;padding: 30px 0;}
.txt_demo_3 .bt h2{font-size: 32px;}
.txt_demo_3 .bt p{color: #666;}

.txt_demo_3 .nl{background: #f5f5f5;margin: 20px 0 ;padding: 30px;}
.txt_demo_3 .nl h2{color: #fff;background: #fd7a01;text-align: center;margin: 0 0 20px;font-size: 16px;line-height:30px;}

.txt_demo_3 .pic{width: 250px;height: 250px;padding: 5px;overflow: hidden;margin: 0 auto 30px;
  box-shadow:0px 0px 2px 2px #ebebeb;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;}
.txt_demo_3 .pic img{width: 250px;height: 250px;display: block;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;}

/*新闻详细页*/
.txt_model_4 .top{padding: 30px 50px 30px;width: 1060px;height: auto;border: 1px solid #ccc;
  -ms-border-radius:10px; -moz-border-radius:10px; -webkit-border-radius: 10px;-o-border-radius: 10px; border-radius: 10px;}
.txt_model_4 .tit{font-size: 30px;text-align: center;margin-bottom:10px;color:#000;}
.txt_model_4 .protime{text-align:center;height: 40px;line-height: 40px;color: #999;}
.txt_model_4 .p_style{height: auto;margin: 20px 0 0;}

.team_list{margin: 0 0 0 -20px;}
.team_list li{display:inline-block;text-align:center; width: 275px;margin: 0 0 40px 20px; float: left;}
.team_list li a{display: block;}
.team_list li .pic{width: 250px;height: 250px;padding: 5px;overflow: hidden;margin: 0 auto;
  display: block;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;}
.team_list li .pic img{width: 250px;height: 250px;display: block;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;}
.team_list li h2{font-size: 28px;color: #fd7a01;line-height: 40px;padding: 20px 0 0;}
.team_list li p{font-size: 18px;color: #666;}
.team_list li:hover .pic{ box-shadow:0px 0px 2px 2px #ebebeb;}

.env_list{margin: 0 0 0 -20px;}
.env_list li{margin: 0 0 20px 20px;float: left;display: inline-block;width: 275px;}
.env_list li a{display: block;}
.env_list li .pic,.env_list li .pic img{width: 100%;height: 180px;display: block;}
.env_list li .txt{line-height: 60px;text-align: center;height: 60px;color: #333;
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.env_list li:hover{box-shadow:0px 0px 2px 2px #ebebeb;}
/*colorful_out*/
.newsin_list{ margin: 0 0 0 -25px;}
.newsin_list li{float:left;overflow:hidden; text-align:center; margin: 0 0 25px 25px;width: 370px;height: 465px; display: inline-block;}
.newsin_list li a{width: 350px;height: 450px;display: inline-block;padding: 10px 10px 0;
  background: #fff;border-bottom: 5px solid #fd7a01;}
.newsin_list li a .pic,.newsin_list li a .pic img{width: 100%;height:220px;display: block;overflow: hidden;}
.newsin_list li a img{width: 100%;height: auto;min-height:220px;display: block;}
.newsin_list li a .txt{width: 330px;height: auto;padding: 10px 10px 0;}
.newsin_list li a h2{margin: 0 0 20px;font-size: 18px;padding: 10px 0 0;
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;width: 100%;color: #000;}
.newsin_list li a p{color: #666;font-size: 16px;line-height: 24px;height:90px;color:#999; }
.newsin_list li a span.btn{width: 150px;height:40px;margin: 0 auto;background: #fd7a01;color: #fff;text-align: center;line-height: 40px;text-transform: uppercase;
  -ms-border-radius: 20px; -moz-border-radius:20px; -webkit-border-radius:20px;-o-border-radius:20px; border-radius: 20px;display: block; }
.newsin_list li:hover{box-shadow:0px 0px 2px 2px #ebebeb;}

/*招贤纳士*/
.sub_human{width: 100%;margin:0 auto 60px;}


.sub_human .t1{margin: 0 0 20px;text-align: center;}
.sub_human .t1 h2{font-size: 26px;color:#222222;}
.sub_human .t1 p{font-size: 22px;color: #666666;}
.sub_human .t2{border-bottom: 1px solid #ececec;padding: 0 0 30px;margin: 0 0 30px;text-align: center;}
.sub_human .t2 h2{color:#222222;}
.sub_human .t2 p{color: #666666;font-size: 14px;}
.sub_human .list li{padding: 30px;}
.sub_human .list li:hover{box-shadow:0px 0px 2px 2px #ebebeb;}
.sub_human .list .dt{width: 100%;height: 30px;font-size: 18px;}
.sub_human .list .num{float: right;color: #999;font-size: 16px;}
.sub_human .list .name{width: 140px;height: 30px;display: inline-block;line-height: 30px;
  background: #fd7a01; color: #fff;text-align: center;}
.sub_human .dd{padding: 10px 0 0;}
.col_1e51ac{color:  #fd7a01;}

/*在线留言*/
.on_form{padding: 0 200px;}
.on_form p{margin: 0 0 20px;}
.on_form .input,.on_form .textarea{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
  background:#fff;border:1px solid #ccc;color:#666;font-size:14px;}
.on_form .input{height:38px;line-height:38px;width:748px;padding: 0 0 0 10px;}
.on_form select{height:50px;line-height:50px;width:758px;text-indent: 10px;border:1px solid #ccc;}
.on_form .textarea{line-height:24px;padding:10px;color:#666;width:738px; height:100px}
.on_form button{width: 100%;height: 40px;background:#fd7a01; font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;color: #fff;line-height: 40px;font-size: 18px;
  display: inline-block;border: none;}
.on_form button:hover{background:#e36f02;}

/*contact_way*/
.contact_way {margin: 30px 0 0 -20px;}
.contact_way dl{border: 1px solid #ccc;margin: 0 0 20px 20px;padding:20px;float: left;width: 528px;}
.contact_way dl.big{width: 1120px;margin: 0 0 20px 20px;}
.contact_way dl dt{border-bottom: 1px solid #ccc;padding: 0 20px 20px 0;color: #333;font-size: 20px;}
.contact_way dl dd{padding: 10px 0 0;font-size: 20px;color: #666;}
/**/
.slideTxtBox_lyfl{ width:100%;  }
.slideTxtBox_lyfl .hd{ height:50px;position:relative; }
.slideTxtBox_lyfl .hd ul{ float:left;  position:absolute; left:0; top:0; height:50px;width: 100%;text-align: center; }
.slideTxtBox_lyfl .hd ul li{width: 208px;height: 48px;border: 1px solid #fd7a01;color: #fd7a01;font-size: 26px;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;
  text-align: center;line-height: 48px;display: inline-block;margin:  0 20px;}
.slideTxtBox_lyfl .hd ul li.on{ background: #fd7a01;color: #fff;}
.slideTxtBox_lyfl .bd ul{  zoom:1;height: 400px;background: #fff;margin: 30px 0 0; }
.slideTxtBox_lyfl .bd li{  float:left; _display:inline; overflow:hidden; text-align:center;width: 289px;  border-right: 1px solid #fff;  }
.slideTxtBox_lyfl .bd li:last-child{border-right: none;width: 290px;}
.slideTxtBox_lyfl .bd ul li .bt{background:#fd7a01;color: #fff;line-height: 70px; font-size: 26px;color: #000;}
.slideTxtBox_lyfl .bd ul li .txt{padding: 40px 10px 0;}
.slideTxtBox_lyfl .bd ul li .txt p{font-size: 16px;line-height: 30px;}

.slideTxtBox_lyfl .arrow{   width:100%;left:0; top:240px; position: absolute;z-index: 9999999999;}
.slideTxtBox_lyfl .arrow .next,.slideTxtBox_lyfl .arrow .prev{ display:block;  width:30px; height:80px;overflow:hidden; position:absolute;}
.slideTxtBox_lyfl .arrow .prev{ background: url(/images/cp_pre.png) 0 0 no-repeat;}
.slideTxtBox_lyfl .arrow .next{ background: url(/images/cp_next.png) -30px 0 no-repeat;right: 0;}








/*
46 36 font-size:26px;
fd7a01  e36f02
overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;
-ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;
-ms-border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;-o-border-radius: 10px; border-radius: 10px;
-ms-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;-o-border-radius: 5px; border-radius: 5px;
-ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;-o-border-radius: 15px; border-radius: 15px;
-ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;
-ms-transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);  
-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg); 
-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
透明  filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;

-ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
  -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
 */
/*  
    background: -webkit-linear-gradient(left, #00DAEE, #00EA8F);
    background: -o-linear-gradient(left, #00DAEE, #00EA8F);
    background: linear-gradient(to right, #00DAEE, #00EA8F);

    .rotate_img li a:hover img{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg); 
      -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}

    .boost_img li:hover img{-ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
      transform: scale(1.2);-moz-transform: scale(1.2);-webkit-transform: scale(1.2);-o-transform: scale(1.2);-ms-transform: scale(1.2); 
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand')"; 
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand'); 
      background-position:center}

    .hd_empty{font-size:0;display:none;overflow:hidden;height:0;width: 0;}

    .mask_black{background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;display: block;}

    .txt_elip{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}

    .filter_img li a:hover img{filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;}

    .gray_img li a:hover img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
      -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}

    字体  font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
    
    空格  span style='white-space:pre;
    背景  background:transparent;   透明
          background: url(/images/phone.png) left center no-repeat;
          background: radial-gradient(white, #EEF6F9);   渐变
          background-attachment: fixed;    背景固定
          background-clip:content-box;     背景裁剪  border-box 背景被裁剪到边框盒。 padding-box 背景被裁剪到内边距框。 content-box 背景被裁剪到内容框。
          background-size:80px 60px;       背景大小  length值    percentage百分比    cover完全覆盖    contain完全适应
    边框  border: medium double rgb(250,0,255) 
          borde-with: thin细的边框。 medium  默认;中等的边框。thick粗的边框。length宽度。inherit规定应该从父元素继承边框宽度。
          border-style: dotted点状边框。   dashed虚线。solid 实线。  double 双线。               groove  3D凹槽边框。
                        ridge 3D垄状边框。 inset 3Dinset边框。       outset 3Doutset边框。
    边框图片  border:15px solid transparent;border-image:url(/i/border.png) 30 30 round;
              border-image-source 图片路径。  border-image-slice  图片边框向内偏移。 border-image-width  图片边框的宽度。     
              border-image-outset 边框图像区域超出边框的量。                         border-image-repeat 图像边框是否应平铺(repeated)、铺满(rounded)或拉伸(stretched)。
    轮廓线 outline:#00ff00 dotted thick;
    大写  text-transform: uppercase;
    行内  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;
    圆角  -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;-o-border-radius: 15px; border-radius: 15px;
    阴影  box-shadow:4px 2px 6px 6px #333333 inset;
          h-shadow  必需。水平阴影的位置。允许负值。  v-shadow  必需。垂直阴影的位置。允许负值。  
          blur  可选。模糊距离。                      spread  可选。阴影的尺寸。 
          color 可选。阴影的颜色。                    inset 可选。将外部阴影 (outset) 改为内部阴影。
    文本  text-shadow: X-Offset Y-Offset blur color;
    hd为空 {font-size:0;display:none;overflow:hidden;height:0;}
    分列  columns:100px 3;
*/

/*
H5基本样式
缩放  -ms-transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);  
      scale(x,y)  定义 2D 缩放转换。                    scale3d(x,y,z)  定义 3D 缩放转换。 
      scaleX(x)   通过设置 X 轴的值来定义缩放转换。     scaleY(y) 通过设置 Y 轴的值来定义缩放转换。 
      scaleZ(z)   通过设置 Z 轴的值来定义 3D 缩放转换。
旋转  -ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg); 
      rotate(angle)   定义 2D 旋转，在参数中规定角度。  rotate3d(x,y,z,angle) 定义 3D 旋转。 
      rotateX(angle)  定义沿着 X 轴的 3D 旋转。         rotateY(angle)  定义沿着 Y 轴的 3D 旋转。  
      rotateZ(angle)  定义沿着 Z 轴的 3D 旋转。
位移  -ms-transform:translateX(45px);-moz-transform:translateX(45px);-webkit-transform:translateX(45px);-o-transform:translateX(45px);transform:translateX(45px);    
      translate(x,y)  定义 2D 转换。                    translate3d(x,y,z)  定义 3D 转换。 
      translateX(x)   定义转换，只是用 X 轴的值。       translateY(y) 定义转换，只是用 Y 轴的值。 
      translateZ(z)   定义 3D 转换，只是用 Z 轴的值。
倾斜  -ms-transform:skew(160deg,160deg);-moz-transform:skew(160deg,160deg);-webkit-transform:skew(160deg,160deg);-o-transform:skew(160deg,160deg);transform:skew(160deg,160deg);     
      skewX(angle)  定义沿着 X 轴的 2D 倾斜转换。       skewY(angle)  定义沿着 Y 轴的 2D 倾斜转换。
      skew(x-angle,y-angle) 定义沿着 X 和 Y 轴的 2D 倾斜转换。
过渡  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
灰度  -ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
透明  filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;
为 3D 转换元素定义透视视图。 perspective(n)
*/

/*
时间差先后顺序     
data-300-center-top="transform: scale(0.8); opacity: 0" data-300-center-center="transform: scale(1); opacity: 1"    变大小
data-100-bottom-center="transform: rotateY(-90deg); opacity: 0" data-100-center-center="transform: rotate(0); opacity: 1" 旋转
data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1"  左右-收拢效果
tdata-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1"  上下-收拢效果
data-bottom-top="max-width: 200px;" data-bottom-bottom="max-width: 600px;"  变长短
300》200》100

data-wow-delay="0.5s"
*/

/*
animation 动画示例
.balloon > div:nth-child(1) {background: rgba(182, 15, 97, 0.9);left: 0;box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
  -moz-animation: balloon1 6s ease-in-out infinite;-o-animation: balloon1 6s ease-in-out infinite;}
@-webkit-keyframes balloon1 {
  0%,100% {-webkit-transform: translateY(0) rotate(-6deg);}
  50% {-webkit-transform: translateY(-20px) rotate(8deg);}}
@-moz-keyframes balloon1 {
  0%,100% {-moz-transform: translateY(0) rotate(-6deg);}
  50% {-moz-transform: translateY(-20px) rotate(8deg);}}
@-o-keyframes balloon1 {
  0%,100% {-o-transform: translateY(0) rotate(-6deg);}
  50% {-o-transform: translateY(-20px) rotate(8deg);}}
@keyframes balloon1 {
  0%,100% {transform: translateY(0) rotate(-6deg);}
  50% {transform: translateY(-20px) rotate(8deg);}}
*/


/*
<div class="parallax-image-wrapper" data-anchor-target="#page-intro" data-bottom-top="transform:translateY(200%)" data-top-bottom="transform:translateY(0)">
    <div class="parallax-image" style="background-image:url(asse/images/coast.jpg)" data-anchor-target="#page-intro" 
         data-bottom-top="transform: translateY(-80%);" data-top-bottom="transform: translateY(80%);">
    </div>
</div>
<div id="skrollr-body">
    <div id="page-intro" class="gap" style="background-image:url(asse/images/coast.jpg); ">
        <h1>使用6种不同视觉差特效的HTML5页面设计效果</h1>
    </div>
    <div class="dummy-content">
        <h2>Scroll to see the effect!</h2>
    </div>
</div>


 */