@charset "utf-8";
/* CSS Document */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} 
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} 
ul,li{list-style:none; margin:0; padding:0;}
a img{border:0;display: block;}
html, body {height: auto; }
em,i{font-style: normal;}
a:hover *,*:hover{-webkit-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
  -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
/*颜色字体设置-start-*/
a{color:#333333;text-decoration:none;cursor: pointer;}
a:hover{color:#2688c5;}
p{color:#333333;line-height:28px;}
body{background-color:white;overflow-x:hidden;font-size:14px;
  font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;}
/*颜色字体设置-end-*/
/******base*******/ 
.bk10,.bk20,.bk30,.bk40,.bk50,.bk60,.bk70,.bk80,.bk90,.bk100{width:100%;overflow: hidden;clear: both;display: block;}
.bk10{height:10px;}
.bk20{height:20px;}
.bk30{height:30px;}
.bk40{height:40px;}
.bk50{height:50px;}
.bk60{height:60px;}
.bk70{height:70px;}
.bk80{height:80px;}
.bk90{height:90px;}
.bk100{height:100px;}

.mL10 {margin-left: 10px;}
.mR10 {margin-right: 10px;}
.mT10{margin-top: 10px; }
.mB10{margin-bottom: 10px;}
.m10{margin: 10px;}
.pT10{padding-top: 10px; }
.pB10{padding-bottom: 10px; }
.pL10{padding-left:10px;}
.pR10{padding-right:10px;}
.p10{ padding: 10px;}
/******other*******/ 
.fl{float:left;display: inline-block;}
.fr{float:right;display: inline-block;}
/******clear float*******/ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix {display: inline-table;} 
/* Hides from IE-mac \*/ 
* html .clearfix {height: 1%;} 
.clearfix {display: block;} 
/*通用*/
.w1160{width: 1160px;margin: 0 auto;height: auto;}
/**/
.header{width: 100%;height:100px;display: block;}
.header .logo{width: 260px;height:80px;display: inline-block;margin: 10px 0 0;
  background: url(/images/logo.png) left center no-repeat;}
.header .call{background: url(/images/call.png) left center no-repeat;height: 40px;color:#2688c5;font-size: 32px; 
  padding: 0 0 0 50px;display: inline-block;margin: 30px 0 0 0;}
/*nav*/
.nav_box{width: 100%;height:50px;background:#2688c5;}
.nav{height:50px;line-height:50px;position:relative;z-index:1;}
.nav a{ color:#fff; text-align:center;}
.nav .nLi{ float:left;  position:relative; display:inline;}
.nav .nLi h3{ float:left;}
.nav .nLi h3 a{ display:block;font-size:16px;width: 145px;}
.nav .sub{ display:none; width:145px; left:0; top:50px;  position:absolute; background:#f4f4f4; line-height:40px; font-size: 14px; }
.nav .sub li{ zoom:1; }
.nav .sub a{ display:block;color: #333;}
.nav .sub a:hover{ background:#f9c616;color: #fff;}
.nav .on h3 a,.nav h3 a:hover{ background:#f9c616;}
/*banner*/
.slideBox{ width:100%; height:640px; overflow:hidden; position:relative;}
.slideBox .hd{font-size:0;display:none;overflow:hidden;height:0;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd li a{display: block;width: 100%;height:640px;}
.slideBox .prev,.slideBox .next{ position:absolute;top:50%; margin-top:-43px; display:block; width:86px; height:86px;
  filter:alpha(opacity=60);-ms-opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-o-opacity:0.6;opacity: 0.6;}
.slideBox .prev{left:10%;background: url(/images/bn_pre.png) no-repeat; }
.slideBox .next{right:10%;background: url(/images/bn_next.png) no-repeat; }
.slideBox .prev:hover,.slideBox .next:hover{filter:alpha(opacity=100);-ms-opacity:1;-moz-opacity:1-webkit-opacity:1-o-opacity:1;opacity: 1;}
.slideBox .prevStop{ display:none;}
.slideBox .nextStop{ display:none;}
/*fixed_bot*/
.fixed_bot{width: 100%;height: 150px;position: fixed;bottom: 0;left: 0;z-index: 9999999999999999;background: url(/images/fix_mask_6.png) repeat-x;}
.fixed_bot .ewm{width: 108px;height: 101px;padding: 49px 0 0 336px;background: url(/images/fix_img_r.png) no-repeat;}
.fixed_bot .ewm img{width: 88px;height: 88px;display: block;}
.fixed_bot .txt{padding: 60px 0 0;height: 90px;}
.fixed_bot .p1{width: 400px;line-height:90px;color:#fff;font-size: 36px;}
.fixed_bot .p2{width: 300px;text-align: center;}
.fixed_bot .p2 dt{line-height: 40px;font-size: 24px;color:#fff;}
.fixed_bot .p2 dd a{width: 200px;height: 36px;line-height: 36px;background:#f9c616;display: block;text-align: center;color: #fff;
  font-size: 20px;font-weight: bold;margin: 0 auto;
  -ms-border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px;-o-border-radius: 25px; border-radius: 25px;}
.fixed_bot .txt.p2{padding: 65px 0 0;}
.fixed_bot .p2 dd a:hover{background: #2688c5;}
/*online_out*/
.online_out{height: 100px;background:#f9c616;padding:20px;}
.online_out .on_1{text-align: center;width:360px;line-height:30px;height:60px;padding: 20px 0;
  -ms-border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;-o-border-radius: 10px; border-radius: 10px;
  color: #fff;font-size: 24px;background: #b32d00;}
.online_out .on_1 p{color: #fff;font-size: 18px;font-weight: bold;}
.online_out .on_2{width:760px;}

.online_out .dt{width: 600px;}
.on_form .input,.on_form select,.on_form .textarea{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
  background:#fff;border:none;color:#666;font-size:16px;}
.on_form .input,.on_form select{height:40px;line-height:40px;text-indent: 10px;width: 290px;}
.on_form select{width: 600px;}

.on_form button{height: 100px; font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
  margin: 0 0 0 20px;width: 120px;background:#fff;color:#f9c616;
  -ms-border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;-o-border-radius: 10px; border-radius: 10px;
  line-height: 100px;font-size: 24px;display: inline-block;border: none;}
.on_form button:hover{background: #b32d00;color: #fff;}
/*ho_tit-all*/
.ho_tit-all{line-height: 50px;text-align: center;font-size: 36px;}
.ho_tit-all a{color: #333;}
/*service_out*/
.service_out .list{padding: 0 10px;}
.service_out li{float: left;display: inline-block;width: 380px;text-align: center;margin: 0 0 20px;}
.service_out li img{display: block;border: 5px solid #fff;margin: 0 auto 10px;padding: 10px;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius:50%;}
.service_out li h2{font-size: 20px;color: #333;}
.service_out li p{color: #999;}
.service_out li:hover img{border: 5px solid #ccc;-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);
    transform:rotate(360deg); 
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
/*class_out*/
.class_out{background: #f2f2f2;width: 100%;height: auto;}
.class_list_o{margin: 0 0 0 -25px;}
.class_list_o li{width: 370px;height: auto;display: inline-block;float: left;margin: 0 0 25px 25px;}
.class_list_o li a{display: block;}
.class_list_o li a .img{width: 370px;height: 220px;display: block;overflow:hidden;position: relative;}
.class_list_o li a .img img{width: 370px;height: 220px;}
.class_list_o li a .img .mask,.class_list_o li a .img .pri{width: 100%;height: 220px;display: block;position: absolute;
  left:0;bottom: 0;z-index: 99;}
.class_list_o li a .img .pri{z-index: 999;line-height: 220px;color: #fff;font-size:32px;text-align: center;}
.class_list_o li a .img .mask{background: #000;filter:alpha(opacity=60);-ms-opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-o-opacity:0.6;opacity: 0.6;}
.class_list_o li a .txt .fenl{width: 50px;height: 50px;background:#2688c5;line-height: 50px;text-align: center;color: #fff;font-size: 20px;}
.class_list_o li a .txt .dl{width: 300px;}
.class_list_o li a .txt .dl h2{line-height: 50px;font-size: 20px;color: #333;}
.class_list_o li a .txt .dl p{color: #666;line-height: 30px;padding: 0 0 20px;
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.class_list_o li a .line{width: 0%;height: 2px;background:#f9c616; }
.class_list_o li a:hover .line{width: 100%;-ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.class_list_o li a:hover .fenl{background:#f9c616;}

.class_out .btns{text-align: center;}
.class_out .btns a{margin: 0 auto;display: inline-block;width: 200px;line-height: 40px;font-size: 20px;color: #2688c5; 
  height: 40px;border: 2px solid  #2688c5;text-align: center;
  -ms-border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;-o-border-radius: 20px; border-radius: 20px;}
.class_out .btns a:hover{background:  #2688c5;color: #fff;}
/*teacher_out*/
.teacher_out{width: 100%;height: auto;background: url(/images/tea_bg.jpg) center top no-repeat;}
.teacher_out .ho_tit-all a{color: #fff;}
/*systemout*/
.picScroll-left{ width:100%;  overflow:hidden; position:relative;height: auto;}
.picScroll-left .hd{ overflow:hidden;  height:80px;position: absolute;top:50%;width: 100%;z-index: 999999;display: none;margin: -40px 0 0 ;}
.picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:30px; height:80px;overflow:hidden;position: absolute;}
.picScroll-left .hd .prev{ background: url(/images/cp_pre.png) 0 0 no-repeat;left: 0;}
.picScroll-left .hd .next{ background: url(/images/cp_next.png) -30px 0 no-repeat;right: 0;}
.picScroll-left .hd ul{font-size:0;display:none;overflow:hidden;height:0;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left:hover .hd{display: block;}


.teacher_list_o li{float: left;display: inline-block;width: 275px;text-align: center;
  margin: 0 20px 0 0;height: 350px;background:#fff;}
.teacher_list_o li a{display: block;}
.teacher_list_o li a .pic{width: 120px;height: 120px;overflow:hidden;display: block;margin: 50px auto 0;
  -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;}
.teacher_list_o li a .pic img{width: 120px;height: auto;min-height: 120px;display: block;}
.teacher_list_o li a .txt{padding: 20px 0 0;}
.teacher_list_o li a .txt h2{font-size: 24px;margin: 0 0 10px;}
.teacher_list_o li a .txt p{color: #666;}
.teacher_list_o li:hover{background: #e5e5e5; -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.teacher_list_in{margin: 0 0 0 -20px;}
.teacher_list_in li{margin: 0 0 20px 20px;background: #f5f5f5;}
.teacher_list_in li:hover{background: #fff;}
/**/
.huis_xuey_on .list{}
.huis_xuey_on .list li{width: 255px;float: left;padding: 9px;border: 1px solid #ccc;
  display: inline-block;margin: 0 20px 0 0;}
.huis_xuey_on .list li a{display: block;}
.huis_xuey_on .list li .pic,.huis_xuey_on .list li .pic img{width: 100%;height:220px; }
.huis_xuey_on .list li .txt h2{font-size: 24px;text-align: center;line-height: 60px;color: #000;}
.huis_xuey_on .list li .txt h3{text-align: center;}
.huis_xuey_on .list li .txt h3 span{width: auto;height: 24px;border: 1px solid #2688c5;color: #2688c5;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;
  display: inline-block;line-height: 24px;padding: 0 20px;}
.huis_xuey_on .list li .txt p{line-height: 30px;font-size: 16px;color: #666;margin: 20px 0;height: 90px;overflow: hidden;}
.huis_xuey_on .list li:hover{border: 1px solid #2688c5;}
.huis_xuey_on .list li:hover .txt h2{color: #2688c5;}
.huis_xuey_on .list li:hover .txt h3 span{background: #2688c5;color: #fff;}

.huis_xuey_in .list{margin: 0 0 0 -20px;}
.huis_xuey_in .list li{margin: 0 0 20px 20px;}
/*huis_zhaos_on*/
.huis_zhaos_on{width: 100%;height: auto;background: url(/images/huis_bg_4.png) center top no-repeat; }
.huis_zhaos_on .p1{text-align:center;font-size: 26px;color: #666;font-weight: bold;}
.huis_zhaos_on .p2{text-align: center;margin: 30px 0 0;}
.huis_zhaos_on .p2 span{width: 130px;height: 130px;display: inline-block;font-size: 106px;
  margin: 0 5px;text-align: center;line-height: 130px;color: #fff;background: #2688c5;}
.huis_zhaos_on .p2 span.num{background: transparent;color:#2688c5; }
.huis_zhaos_on .btns{text-align: center;}
.huis_zhaos_on .btns a{width: 250px;height: 50px;display: inline-block;font-size: 26px;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;
  text-align: center;background: #2688c5;color: #fff;line-height: 50px;}
.huis_zhaos_on .btns a span{background: url(/images/baom.png) center left no-repeat;padding: 0 0 0 40px;}
.huis_zhaos_on .btns a:hover{background: #f9c616;}
/*base_out*/
.base_out{background: #f2f2f2;}
.base_out .img_top img,.base_out .img_top a{width: 282.5px;height: 200px;display: block;}
.base_out a{display: inline-block;}
.base_out .img_bot .p1,.base_out .img_bot .p1 img{width: 360px;height: 200px;display: block;}
.base_out .img_bot .p2,.base_out .img_bot .p2 img{width: 300px;height: 200px;display: block;}
.base_out .img_bot .p3,.base_out .img_bot .p3 img{width: 480px;height: 200px;display: block;}
/*news_out*/
.news_out .big{width: 500px;height: 370px;display: block;position: relative;}
.news_out .big img{width: 400px;height: 370px;display: block;position: absolute;right: 0;bottom: 0;z-index: 999;}
.news_out .big .txt{width: 190px;height: 170px;position: absolute;padding: 20px;
  top:90px;left: 0;background: #2688c5;z-index: 9999;}
.news_out .big .txt h2{font-size: 18px;color: #fff;text-align: center;display: block;padding: 20px 0 20px;
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.news_out .big .txt p{color: #fff;}
.news_out .big:hover .txt{background: #f9c616;}
.news_out .list{width: 630px;padding: 20px 0 0;}
.news_out .list li{padding: 0 0 30px;}
.news_out .list li a h2{font-size:20px;color: #333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.news_out .list li a{display: block;}
.news_out .list li a p{color: #666;}
.news_out .list li a:hover h2{text-decoration: underline;}
/*footer*/
/*footer*/
.footer{width: 100%;height: auto;padding: 30px 0 0;background: #2688c5;overflow: hidden;}
.footer .top .ewm{width: 160px;height: 160px;display: block;padding: 10px 250px 10px 10px;background: url(/images/ewm_bg.jpg) no-repeat;}
.footer .top .txt{padding: 10px 0 0 30px;}
.footer .top .txt p{line-height: 40px;color: #fff;}
.footer .top .ewm img{width: 160px;height: 160px;display: block;}
.footer .bot{width: 100%;height: 50px;line-height: 50px;text-align: center;background: #000;margin: 30px 0 0;color: #fff;}
.footer .bot a{color: #fff;}
.footer .bot a:hover{text-decoration: underline;}
/*右侧悬浮框*/
.float_onlie{position: fixed;top:10%;right:20px;width: 80px;height: auto;z-index: 99999999;}
.float_onlie a{display: block;width: 80px;height: 90px;margin: 0 0 1px 0;
    background: url(/images/cbar.png) no-repeat;
    -webkit-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
    -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.float_onlie a.on_1{background-position: 0 0;}
.float_onlie a.on_2{background-position: 0 -91px;position:relative;}
.float_onlie a.on_2 em,.float_onlie a.on_3 em{background: #f9c616;color:#fff;width: 180px;height: 50px;font-size: 16px;padding:20px;text-align: center;line-height: 25px;}
.float_onlie a.on_2 em{display: none;position: absolute;left: -220px;top:0;}
.float_onlie a.on_3{background-position: 0 -182px;position:relative;}
.float_onlie a.on_3 em{display: none;position: absolute;left: -220px;top:0;}
.float_onlie a.on_4{background-position: 0 -273px;position:relative;}
.float_onlie a.on_4 em{width: 180px;height: 180px;display: none;position: absolute;left: -180px;top:0px;}
.float_onlie a.on_4 em img{width:180px;height: 180px;}
.float_onlie a.on_5{background-position: 0 -364px;}
.float_onlie a:hover.on_1{background-position: -80px 0;}
.float_onlie a:hover.on_2{background-position: -80px -91px;}
.float_onlie a:hover.on_2 em{display: inline-block;}
.float_onlie a:hover.on_3{background-position: -80px -182px;}
.float_onlie a:hover.on_3 em{display: inline-block;}
.float_onlie a:hover.on_4{background-position: -80px -273px;}
.float_onlie a:hover.on_4 em{display: inline-block;}
.float_onlie a:hover.on_5{background-position: -80px -364px;}
/*bread*/
.bread{margin: 60px 0;}
.bread h2{font-size: 36px;color: #333;text-align: center;line-height: 50px;}
/*sublist*/
.sublist{text-align: center;margin: 30px 0 0;}
.sublist li{display: inline-block;}
.sublist li a{width: 160px;height: 36px;line-height:36px;text-align: center;color: #666;
  display: block;border: 2px solid #ccc;margin: 0 5px ;}
.sublist li:hover a,.sublist li.on a{color:#2688c5;border: 2px solid #2688c5;}
/*wap_box*/
/*txt_model_1*/
.txt_model_1 img{max-width: 100%;}

/**/
.txt_demo_5 img{max-width: 100%;}
.txt_demo_5 .bt{border: 1px solid #ccc;text-align: center;padding: 30px 0;}
.txt_demo_5 .bt h2{font-size: 32px;padding: 0 0 20px;}
.txt_demo_5 .bt h3{text-align: center;margin: 0 0 10px;}
.txt_demo_5 .bt h3 span{width: auto;height: 24px;border: 1px solid #2688c5;color: #2688c5;
  -ms-border-radius: 115px; -moz-border-radius: 115px; -webkit-border-radius: 115px;-o-border-radius: 115px; border-radius: 115px;
  display: inline-block;line-height: 24px;padding: 0 20px;}
.txt_demo_5 .bt p{color: #666;font-size: 16px;}

.txt_demo_5 .dis{padding: 30px 0 0;}

.txt_demo_5 .pic{width: 350px;height:300px;padding: 5px;overflow: hidden;margin: 0 auto 30px;
  box-shadow:0px 0px 2px 2px #ebebeb;}
.txt_demo_5 .pic img{width: 350px;height: 300px;display: block;}
/*honor*/
.tea_act_one{margin: 0 0 0 -25px;}
.tea_act_one a{width:370px;display: inline-block;height:auto;float: left;margin: 0 0 25px 25px;}
.tea_act_one a .txt{height: 60px;line-height: 60px;text-align: center;background:#f5f5f5;color: #333;margin: 10px 0 0;
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.tea_act_one a img{width: 100%;height: 210px;}
.tea_act_one a:hover .txt{background:#2688c5; color: #fff;}
/*contact*/
.contact_box dt{background: #2688c5;height: 40px;line-height: 40px;
  -ms-border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;-o-border-radius: 20px; border-radius: 20px;
  width: 200px;text-align: center;color: #fff;margin: 0 auto 10px;}
.contact_box dd{text-align: center;font-size: 28px;color: #666;}
.contact_box dd img{width: 140px;height: 140px;display: block;margin: 0 auto;}
.contact_box dl{margin: 0 0 30px;}
/*txt_model_2*/
.txt_model_2{padding: 100px 100px 100px;background:#2688c5;
  -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;-o-border-radius: 15px; border-radius: 15px;}
/**/
.on_form_2 p{margin: 0 0 20px;}
.on_form_2 .input,.on_form_2 select,.on_form_2 .textarea{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
  background:#fff;border:none;color:#666;font-size:16px;}
.on_form_2 .input,.on_form_2 select{height:50px;line-height:50px;width:100%;text-indent: 10px;}
.on_form_2 .textarea{line-height:24px;padding:10px;color:#666;width:940px; height:100px;overflow-y: scroll;}
.on_form_2 button{width: 100%;height: 50px;background:#f9c616; font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
  color: #fff;line-height: 50px;font-size: 24px;display: inline-block;border: none;}
.on_form_2 button:hover{background:#1c6491;color: #fff;}
/*新闻中心*/
.newslist{margin: 0 0 0 -25px;}
.newslist li{ float: left;margin: 0 0 25px 25px;}
.newslist li a,.newslist li{width: 370px;display: inline-block;}
.newslist li a .pic,.newslist li a .pic img{width: 370px;height: 250px;display: block;overflow: hidden;}
.newslist li a .pic  img{width: 370px;height:auto;min-height: 230px;}
.newslist li a .txt{width: 290px;height: 130px;background: #fff;padding: 10px 40px 20px;text-align: center;
  margin: 10px 0 0;}
.newslist li a .txt h2{font-size: 18px;line-height: 30px;height: 80px;overflow: hidden;color: #333;}
.newslist li a .txt span{width: 150px;height: 40px;background: #2688c5;display: inline-block;line-height: 40px;color: #fff;
  -ms-border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;-o-border-radius: 20px; border-radius: 20px;}
.newslist li a:hover .txt span{background: #f9c616;}
/*新闻详细页*/
.txt_model_3{ }
.txt_model_3 .top{height: auto;border: 1px solid #ccc;padding: 30px 0 30px;}
.txt_model_3 .tit{font-size: 30px;text-align: center;margin-bottom:10px;color:#333;}
.txt_model_3 .protime{text-align:center;height: 40px;line-height: 40px;color: #666;}
.txt_model_3 .p_style{width: 100%;height: auto;margin: 40px 0 0;}
.txt_model_3 .p_style img{max-width:100%; }
/**/
.txt_model_6{ }
.txt_model_6 img{max-width: 100%;}
.txt_model_6 .top{height: auto;border: 5px solid #2688c5;margin: 0 0 30px;padding: 30px 0;}
.txt_model_6 .tit{font-size: 30px;text-align: center;margin-bottom:10px;color:#333;}
.txt_model_6 .protime{text-align:center;height: 40px;line-height: 40px;color: #666;}
.txt_model_6 .dis{background: #f5f5f5;margin: 20px 0;padding: 40px;font-size: 16px;line-height: 30px;}
.txt_model_6 .list dt{background: #2688c5;line-height: 40px;margin: 0 0 10px;color: #fff;text-indent: 40px;font-size: 18px;}
.txt_model_6 .list dd{padding:10px 40px;}
.txt_model_6 .list dl{padding: 0 0 20px;}
.txt_model_6 .list dl.base_in dd{padding: 10px 0;}
/**/
/*honor*/
.tea_act_two{margin: 0 0 0 -15px;}
.tea_act_two a{width:350px;display: inline-block;height:auto;float: left;margin: 0 0 15px 15px;}
.tea_act_two a .txt{height: 60px;line-height: 60px;text-align: center;background:#2688c5;color: #fff;margin: 10px 0 0;
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.tea_act_two a img{width: 100%;height: 200px;}
.tea_act_two a:hover .txt{background:#2688c5; color: #fff;}

/*page*/
.pageJump {text-align: left;padding:20px 0 30px;line-height: 20px;width: 100%;overflow: hidden;}
.pageJump .number {margin: auto auto auto 40%;width: auto;display: block;float: none;height: auto;}
.pageJump .number .disabled {background: #2688c5;padding:5px 10px;}
.pageJump .number .disabled a{color: #fff;}
.pageJump .number .disabled:hover{background: #f9c616; }
/*返回*/
.backpre {text-align:center;margin:30px 0 0;}
.backpre a{height:24px;background: #2688c5 ;line-height:24px;
    padding:10px 20px;color: #fff;
    display: inline-block;text-align: center;}
.backpre a:hover{background:#f9c616;color:#fff;}
/**/
.team_dis{width: 100%;height: auto;}
.team_dis .pic,.team_dis .pic img{width: 360px;height: 360px;display: block;}
.team_dis .txt{width:760px;}
.team_dis .txt h2{line-height: 30px;height: 30px;font-size: 28px;padding: 20px 0;border-bottom: 2px solid #2688c5;margin: 0 0 20px;color: #333;}
.team_dis .txt h2 span,.team_dis .txt dt{line-height: 30px;height: 30px;background:#2688c5; width: 120px;font-size: 18px;text-align: center;color: #fff;}
.team_dis .txt dl{margin: 0 0 10px; }
.team_dis .txt dt{margin: 0 10px 0 0;float: left;}
.team_dis .txt dd{float: left;color: #333;}
.team_dis .txt dd,.team_dis .txt dt{line-height: 30px;}
.team_dis .txt dl.big dt,.team_dis .txt dl.big dd{float: none;}
.team_dis .txt dl.big dd{margin: 10px 0 0;}

.team_dis .btns{text-align: center;margin: 20px 0 0;}
.team_dis .btns a{margin: 0 auto;display: inline-block;width: 200px;line-height: 40px;font-size: 20px;background: #f9c616;
  height: 40px;text-align: center;color: #fff;}
.team_dis .btns a:hover{background:  #2688c5;}

.teamcase .title{line-height: 50px;background:#135217;color: #fff;text-align: center;font-size:20px;margin: 20px 0 0;}

/*  
#2688c5   #f9c616

95d540
background:#00E2BB;background:-webkit-linear-gradient(left,#00DAEE,#00EA8F);
    .rotate_img li a:hover img{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);
    transform:rotate(360deg); 
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}

    .boost_img li:hover img{
  -ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;
  -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); 
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; 
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); 
  background-position:center}

 .hd_empty{font-size:0;display:none;overflow:hidden;height:0;width: 0;}
 .mask_black{background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;display: block;}
 .txt_elip{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.filter_img li a:hover img{filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;}
  .gray_img li a:hover img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
    字体正文颜色   color: #666666;
    字体标题颜色   color: #333333;
    色系hover      color: #f39600;   黄 #e77119
    背景           background:#f5f5f5;
    边框           border: 1px solid #d6d6d6;
    字体           font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
    
    
    空格  span style='white-space:pre;
    背景  background:transparent;   透明
          background: url(/images/phone.png) left center no-repeat;
          background: radial-gradient(white, #EEF6F9);   渐变
          background-attachment: fixed;    背景固定
          background-clip:content-box;     背景裁剪  border-box 背景被裁剪到边框盒。 padding-box 背景被裁剪到内边距框。 content-box 背景被裁剪到内容框。
          background-size:80px 60px;       背景大小  length值    percentage百分比    cover完全覆盖    contain完全适应
    边框  border: medium double rgb(250,0,255) 
          borde-with: thin细的边框。 medium  默认;中等的边框。thick粗的边框。length宽度。inherit规定应该从父元素继承边框宽度。
          border-style: dotted点状边框。   dashed虚线。solid 实线。  double 双线。               groove  3D凹槽边框。
                        ridge 3D垄状边框。 inset 3Dinset边框。       outset 3Doutset边框。
    边框图片  border:15px solid transparent;border-image:url(/i/border.png) 30 30 round;
              border-image-source 图片路径。  border-image-slice  图片边框向内偏移。 border-image-width  图片边框的宽度。     
              border-image-outset 边框图像区域超出边框的量。                         border-image-repeat 图像边框是否应平铺(repeated)、铺满(rounded)或拉伸(stretched)。
    轮廓线outline:#00ff00 dotted thick;
    大写  text-transform: uppercase;
    行内  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;
    圆角  -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;-o-border-radius: 15px; border-radius: 15px;
    阴影  box-shadow:4px 2px 6px 6px #333333 inset;
          h-shadow  必需。水平阴影的位置。允许负值。  v-shadow  必需。垂直阴影的位置。允许负值。  
          blur  可选。模糊距离。                      spread  可选。阴影的尺寸。 
          color 可选。阴影的颜色。                    inset 可选。将外部阴影 (outset) 改为内部阴影。
    文本  text-shadow: X-Offset Y-Offset blur color;
    .mask{background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;display: block;}
    .elip{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
    hd为空 {font-size:0;display:none;overflow:hidden;height:0;}
    分列  columns:100px 3;
*/

/*
H5基本样式
缩放  -ms-transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);  
      scale(x,y)  定义 2D 缩放转换。                    scale3d(x,y,z)  定义 3D 缩放转换。 
      scaleX(x)   通过设置 X 轴的值来定义缩放转换。     scaleY(y) 通过设置 Y 轴的值来定义缩放转换。 
      scaleZ(z)   通过设置 Z 轴的值来定义 3D 缩放转换。
旋转  -ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg); 
      rotate(angle)   定义 2D 旋转，在参数中规定角度。  rotate3d(x,y,z,angle) 定义 3D 旋转。 
      rotateX(angle)  定义沿着 X 轴的 3D 旋转。         rotateY(angle)  定义沿着 Y 轴的 3D 旋转。  
      rotateZ(angle)  定义沿着 Z 轴的 3D 旋转。
位移  -ms-transform:translateX(45px);-moz-transform:translateX(45px);-webkit-transform:translateX(45px);-o-transform:translateX(45px);transform:translateX(45px);    
      translate(x,y)  定义 2D 转换。                    translate3d(x,y,z)  定义 3D 转换。 
      translateX(x)   定义转换，只是用 X 轴的值。       translateY(y) 定义转换，只是用 Y 轴的值。 
      translateZ(z)   定义 3D 转换，只是用 Z 轴的值。
倾斜  -ms-transform:skew(160deg,160deg);-moz-transform:skew(160deg,160deg);-webkit-transform:skew(160deg,160deg);-o-transform:skew(160deg,160deg);transform:skew(160deg,160deg);     
      skewX(angle)  定义沿着 X 轴的 2D 倾斜转换。       skewY(angle)  定义沿着 Y 轴的 2D 倾斜转换。
      skew(x-angle,y-angle) 定义沿着 X 和 Y 轴的 2D 倾斜转换。
过渡  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
灰度  -ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
透明  filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;
为 3D 转换元素定义透视视图。 perspective(n)
*/

/*
时间差先后顺序     
data-300-center-top="transform: scale(0.8); opacity: 0" data-300-center-center="transform: scale(1); opacity: 1"    变大小
data-100-bottom-center="transform: rotateY(-90deg); opacity: 0" data-100-center-center="transform: rotate(0); opacity: 1" 旋转
data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1"  左右-收拢效果
tdata-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1"  上下-收拢效果
data-bottom-top="max-width: 200px;" data-bottom-bottom="max-width: 600px;"  变长短
300》200》100

data-wow-delay="0.5s"
*/

/*
animation 动画示例
.balloon > div:nth-child(1) {background: rgba(182, 15, 97, 0.9);left: 0;box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
  -moz-animation: balloon1 6s ease-in-out infinite;-o-animation: balloon1 6s ease-in-out infinite;}
@-webkit-keyframes balloon1 {
  0%,100% {-webkit-transform: translateY(0) rotate(-6deg);}
  50% {-webkit-transform: translateY(-20px) rotate(8deg);}}
@-moz-keyframes balloon1 {
  0%,100% {-moz-transform: translateY(0) rotate(-6deg);}
  50% {-moz-transform: translateY(-20px) rotate(8deg);}}
@-o-keyframes balloon1 {
  0%,100% {-o-transform: translateY(0) rotate(-6deg);}
  50% {-o-transform: translateY(-20px) rotate(8deg);}}
@keyframes balloon1 {
  0%,100% {transform: translateY(0) rotate(-6deg);}
  50% {transform: translateY(-20px) rotate(8deg);}}
*/


/*
<div class="parallax-image-wrapper" data-anchor-target="#page-intro" data-bottom-top="transform:translateY(200%)" data-top-bottom="transform:translateY(0)">
    <div class="parallax-image" style="background-image:url(asse/images/coast.jpg)" data-anchor-target="#page-intro" 
         data-bottom-top="transform: translateY(-80%);" data-top-bottom="transform: translateY(80%);">
    </div>
</div>
<div id="skrollr-body">
    <div id="page-intro" class="gap" style="background-image:url(asse/images/coast.jpg); ">
        <h1>使用6种不同视觉差特效的HTML5页面设计效果</h1>
    </div>
    <div class="dummy-content">
        <h2>Scroll to see the effect!</h2>
    </div>
</div>


 */