.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: black;
    border-color: black;
    cursor: default;
}

.pagination {
    padding-left: 0;
    margin: 22px 0;
    border-radius: 4px;
    float: right;
}

.breadcrumb>li, .pagination {
    display: inline-block;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.6;
    text-decoration: none;
    color: #3097D1;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>li{
    float: left;
}